.field {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin: auto;
    margin-left: 10px;
}

input {
    margin: 10px;
    width: 40%;
    margin-top: 10px;
}

.test {
    display: block;
    position: relative;
    padding-left: 45px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

table.table {
    margin-right: 0px;
    margin-left: auto;
    border-radius: 4px;
}

th,
td {
    border: 1px solid black;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

* {
    box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

button {
    border: none;
    color: Black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 60px;
    border-radius: 4px;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}