.btn {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
}

.button {
    display: none;
}

#mySidenav {
    margin-bottom: 150px;
}

#mySidenav span {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav span:hover {
    left: 0;
}

#Dashboard {
    top: 20px;
    background-color: #04AA6D;
    color: white;
}

#Clear {
    top: 80px;
    background-color: #2196F3;
}